#moi
{
    color: blue;
 font-style: italic;
 font-weight: bolder;
}
#cre {
    text-align: left;
    font-style: oblique;
    font-weight: 3900;
    color: blueviolet;

}

.fer {
    color: blueviolet;
}